
.text-accent-logo {

    font-family: "Raleway" ;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}
.text-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.link {
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #212121;
}
.link:hover {
    color: #2196F3;
}
.link:focus {
    color:#2196F3;
}
.contacts {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;

font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #757575;
}

.contacts:hover {
    color: #2196F3;
}

.contacts:focus {
    color: #2196F3;
}
.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#212121;
    background: #F5F4FA;
    cursor:pointer;
}
.button:hover {
    color:#FFFFFF;
    background: #2196F3;
}
.button:focus {
    color:#FFFFFF;
    background: #2196F3;
}

 .subtitle{
    color: #212121;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    line-height:36px;
    font-weight:700;

}
.description {

    color: #757575;
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    font-size:16px;

    line-height:30px;
    font-weight:400;

}

